name: CI

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: golangci/golangci-lint:v1.42.0-alpine
    steps:
      - uses: actions/checkout@v3
      - run: ./scripts/check/lint.sh

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - run: ./scripts/check/unit-test.sh
      - uses: codecov/codecov-action@v3.1.0
        with:
          token: ${{ secrets.CODECOV_UPLOAD_TOKEN }}
          file: ./.test_coverage.txt
          fail_ci_if_error: false

  integration-test:
    name: Integration test
    runs-on: ubuntu-latest
    env:
      SLOTH_VERSION: v0.6.0
    steps:
      - uses: actions/checkout@v3
      - name: Execute tests
        run: |
          curl -Lo sloth https://github.com/slok/sloth/releases/download/${SLOTH_VERSION}/sloth-linux-amd64 && chmod +x sloth && sudo mv sloth /usr/local/bin/
          ./scripts/check/integration-test.sh

  rolling-release-images:
    # Only on main branch.
    if: startsWith(github.ref, 'refs/heads/main')
    env:
      TAG_IMAGE_LATEST: "true"
      PROD_IMAGE_NAME: ghcr.io/${GITHUB_REPOSITORY}
      VERSION: ${GITHUB_SHA}
    needs: [lint, unit-test, integration-test]
    name: Release images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Docker login
        run: docker login ghcr.io  -u ${{ github.actor }} -p ${{secrets.GITHUB_TOKEN}}
      - name: Build and publish images
        run: make build-publish-image-all
